*
{
	font-family: 'Raleway', sans-serif;
	background: #EAEAEA;
	margin: 0;
	padding: 0;
	text-align: center;
}

h3
{
	padding-top: 20px;
}

footer
{
	clear: both;
	margin: 20px;
}

.product
{
	border: 1px solid gray;
	border-radius: 25px;
	margin: 10px;
	padding: 25px 10px 25px 10px;
	width: 150px;
	float: left;
}

.product:hover
{
	background: red;
}

img
{
	margin-bottom: 20px;
}