* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color:khaki;
}

.big-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.content {
    padding: 10px;
    background-color: white;
}